*[data-visible="false"]{
  display: none !important;
}

body, html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #333333;
  color: white;
  font-family: MetricWeb, sans-serif;
}

header{
  background: #FFF1E0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon%3Abrand-ft-masthead?url=fticon%253Abrand-ft-masthead&source=ftlabs-listen-to-the-ft&fit=cover&format=auto&quality=medium');
  background-size: auto 30%;
  background-repeat: no-repeat;
  background-position: 50%
}

.view{
  width:100%;
  padding: 55px 1em 50px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.view.full-width{
  padding: 55px 0 50px;
}

form{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form input[type="text"], form input[type="password"]{
  width:90%;
  margin: 1em;
  font-size: 1em;
}

#player{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: #fff1e0;
}

#player audio{
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

.view ol{
  max-height: 100%;
  width: 100%;
  overflow-y: scroll;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.view ol li{
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #999999;
  padding: 0 1em;
}

.view#audioItems {
  padding-left: 0;
}

.view#audioItems .hasListened{
  width: 20px;
  height: 100%;
}

.view#audioItems .textContainer{
  width: 80%;
  display: flex;
  flex-direction: column;
}

.view#audioItems .textContainer a{
  color: white;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view#audioItems .textContainer span{
  color: #d3d3d3;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}